@media (max-width: 935px){
    .wrapper {
        width: calc(100% - 30px);
    }
}

@media (min-width: 800px) and (max-width: 935px){
    .wrapper {
        width: calc(100% - 30px);
    }
    .button-1 {
        float: none;
        width: 140px;
        height: 45px;
        text-align: center;
        margin-top: 40px;
    }
}