@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/*
Блок Меню
*/
.logo {
    float: left;
    margin-top: 11px;
}
.menu {
    overflow: hidden;
    height: 60px;
}

.menu ul {
    list-style: none;
    float: right;
    margin-top: 19px;
    margin-right: 20px;
}

.menu li {
    float: left;
    margin-left: 40px;
}

.menu a {
    color: #676770;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: color .3s;
}
.menu a:hover,
.menu a.active
 {
    color: #0082F3;
}
/*
Конец блока меню
*/

/*
Первый блок
*/
.block-1 {
    background-image: url("../img/block-1.png");
    width: 1440px;
    height: 594px;
    margin: 0 auto;
    overflow: hidden;
}

.block-1__text {
    font-size: 59px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 4px;
    margin-top: 184px;
    margin-left: 206px;
}
/*
Конец первого блока
*/