@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/*
Блок Меню
*/
.logo {
    float: left;
    margin-top: 19px;
}
.menu {
    overflow: hidden;
    /*height: 60px;*/
}

.menu ul {
    list-style: none;
    float: right;
    margin-top: 19px;
    margin-right: 20px;
}

.menu li {
    float: left;
    margin-left: 40px;
}
.menu li:first-of-type {
    margin-left: 0;
}

.menu a {
    color: #676770;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: color .3s;
}
.menu a:hover,
.menu a.active
 {
    color: #0082F3;
}
/*
Конец блока меню
*/

/*
Первый блок
*/
.block-1 {
    background-image: url("../img/block-1.png");
    max-width: 100%;
    height: 594px;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 21px;
}

.block-1__text {
    font-size: 59px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 184px;
}
.block-1__button {
    overflow: hidden;
    margin: 0 auto;
    width: max-content;

}
.button-1 {
    color: #fff;
    background-color: #69B9FF;
    border-radius: 5px;
    border: 1px solid #69B9FF;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s;
    margin-top: 106px;
    /*margin-left: 300px;*/
    float: left;
    letter-spacing: 2px;

}

.button-2 {
    color: #fff;
    background-color: #69B9FF00;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s;
    margin-top: 106px;
    margin-left: 20px;
    float: left;
    letter-spacing: 2px;
}
.button-1 a{
    text-decoration: none;
    color: #fff;
}
.button-2 a{
    text-decoration: none;
    color: #fff;
}

.button-1:hover, .button-2:hover {
    background-color: #69B9FFaa;
}
.button-1:active, .button-2:active {
    border: 1px solid #414142;
    color: #c3c3c9;
    background-color: #0686f7;
}
/*
Конец первого блока
*/

/*
Начало второго блока
*/
.block-2 {
    overflow: hidden;
}
.block-2__header {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #676770;
    text-transform: uppercase;
    text-align: center;
    margin-top: 77px;
}
.block-2__text {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #8E8E9C;
    text-transform: uppercase;
    text-align: center;
    margin-top: 17px;
}

.block-2__carta-1 {
    width: calc(33.33% - (20px / 3));
    border: 1px solid #DCEBF7;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.block-2__carta-1:first-of-type {
    margin-left: 0;
}

.block-2__header__carta {
    color: #676770;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
.block-2__text__carta {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #6A859C;
    margin-top: 16px;
    margin-bottom: 24px;
}
.carta__img {
    margin-top: 36px;
}
.carta {
    margin-top: 60px;
}
/*
Конец второго блока
*/

/*
Начало тртьего блока
*/
.block-3 {
    background-color: #192024;
    overflow: hidden;
    margin-top: 80px;
}

.block-3__header {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 77px;
}
.block-3__text {
    color: #E8E8E8;
    text-align: center;
    font-size: 17px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 17px;
}

.block-3__card {
    margin-top: 75px;
    text-align: center;

}
.block-3__card-1 {
    width: calc(50% - (35px / 2));
    float: left;
    margin-left: 15px;
}
.block-3__card-2 {
    width: calc(50% - (35px / 2));
    float: right;
    margin-right: 15px;
}
.block-3__header__card {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 7px;
    margin-top: 20px;
}
.block-3__text__card {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 23px;
}

.block-3__button {
    width: 182px;
    height: 42px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    background-color: #69B9FF00;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s;
    margin-top: 18px;
    margin-bottom: 96px;
}
.block-3__button a {
    text-decoration: none;
    color: #fff;
}
.block-3__button:hover {
    background-color: #2E80B6;
}
/*
Конец третьего блока
*/

/*
Начало четвертого блока
*/
.blok-4 {
    overflow: hidden;
}
.block-4__header {
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 77px;
    color: #676770;
    text-align: center;
}
.block-4__text {
    font-size: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #8E8E9C;
    margin-top: 18px;
}
.block-4__button-1 {
    width: 196px;
    height: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: #92A0AD;
    border-radius: 5px;
    padding: 1px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s;
    margin-top: 18px;
    margin-bottom: 96px;
    float: left;
    margin: 72px 0  52px 160px;
}
.block-4__button-2 {
    width: 196px;
    height: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: #92A0AD;
    border-radius: 5px;
    padding: 1px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s;
    margin-top: 18px;
    margin-bottom: 96px;
    float: left;
    margin: 72px 0  52px 16px;
}
.block-4__button-3 {
    width: 196px;
    height: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: #92A0AD;
    border-radius: 5px;
    padding: 1px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s;
    margin-top: 18px;
    margin-bottom: 96px;
    float: left;
    margin: 72px 0  52px 16px;
}
.block-4__button-1:hover,
.block-4__button-2:hover,
.block-4__button-3:hover {
    background-color: #2E80B6;
}
.block-4__button-1 a,
.block-4__button-2 a,
.block-4__button-3 a {
    text-decoration: none;
    color: #fff;
}


/*
Конец четвертого блока
*/

/*
блок шесть
*/
.block-6__header {
    color: #676770;
    font-size: 31px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}
.block-6__text-1 {
    color: #6A859C;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;
}
.block-6__text-2 {
    color: #6A859C;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 2;
}
.block-6__text-3 {
    color: #6A859C;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 80px;
}
/*
конец шестого блока
*/

/*
блок семь
*/
.block-7 {
    overflow: hidden;
}
.block-7 a{
    text-decoration: none;
    color: #6A859C;
}
.block-7__column-1 {
    width: calc(100% / 3);
    float: left;
}
.block-7__column-2 {
    width: calc(100% / 3);
    float: left;
}
.block-7__column-3 {
    width: calc(100% / 3);
    float: left;
}
.block-7__column-1__header {
    color: #676770;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 32px 0 0 10px;
}
.block-7__column-1__text {
    color: #6A859C;
    font-size: 14px;
    margin: 25px 0 0 10px;
    line-height: 30px;
}

.block-7__column-2__header {
    color: #676770;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 32px;
    margin-left: 10px;
}
.block-7__column-2__text-1 {
    color: #6A859C;
    border-bottom: 1px solid #6A859C;
    font-size: 13px;
    margin: 22px 0 6px 10px;
    line-height: 20px;
    padding-bottom: 5px;
}
.block-7__column-2__text-2 {
    color: #6A859C;
    border-bottom: 1px solid #6A859C;
    font-size: 13px;
    margin: 22px 0 6px 10px;
    padding-bottom: 5px;
}
.block-7__column-2__text-3 {
    color: #6A859C;
    border-bottom: 1px solid #6A859C;
    font-size: 13px;
    margin: 22px 0 6px 10px;
    padding-bottom: 5px;
}
.block-7__column-2__text-4 {
    color: #6A859C;
    border-bottom: 1px solid #6A859C;
    font-size: 13px;
    margin: 22px 0 6px 10px;
    padding-bottom: 5px;
}


.block-7__column-3__header {
    color: #676770;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 32px;
    margin-left: 16px;
}
.block-7__column-3__text {
    overflow: hidden;
}
.block-7__img-1 {
    margin: 25px 0 0 20px;
    float: left;
}
.block-7__column-3__text-1 {
    color: #6A859C;
    padding-bottom: 5px;
    font-size: 13px;
    border-bottom: 1px solid #6A859C;
    margin: 24px 0 2px 50px;
}

.block-7__img-2 {
    margin: 18px 0 0 20px;
    float: left;
}
.block-7__column-3__text-2 {
    color: #6A859C;
    padding-bottom: 5px;
    font-size: 13px;
    border-bottom: 1px solid #6A859C;
    margin: 20px 0 2px 50px;
}

.block-7__img-3 {
    margin: 18px 0 0 20px;
    float: left;
}
.block-7__column-3__text-3 {
    color: #6A859C;
    padding-bottom: 5px;
    font-size: 13px;
    border-bottom: 1px solid #6A859C;
    margin: 20px 0 2px 50px;
}

.block-7__img-4 {
    margin: 18px 0 0 20px;
    float: left;
}
.block-7__column-3__text-4 {
    color: #6A859C;
    padding-bottom: 5px;
    font-size: 13px;
    border-bottom: 1px solid #6A859C;
    margin: 20px 0 2px 50px;
}

.block-7__img-5 {
    margin: 18px 0 0 20px;
    float: left;
}
.block-7__column-3__text-5 {
    color: #6A859C;
    padding-bottom: 5px;
    font-size: 13px;
    border-bottom: 1px solid #6A859C;
    margin: 20px 0 2px 50px;
}
/*
конец седьмого блока
*/

/*
восьмой блок
*/
.block-8 {
    overflow: hidden;
    height: 100px;
    background-color: #383838;
    margin-top: 36px;
}
.block-8__text {
    color: #9E9E9E;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}
/*
конец восьмого блока
*/